<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кошки-Мышки</title>
    <script>
        //fetch
        function joinGame() {
            const players = document.getElementById('players_id');

        }
      
      
        document.addEventListener('DOMContentLoaded', function() {
            const joinBtn = document.getElementById('join');
            joinBtn.addEventListener('click', joinGame);
        });
    
      
    </script>
</head>

<body>
    <h1>welcome to the game</h1>
    <br>
    <p>Введите ваш ник</p>
    <input type="text" name="surname" id="userSurname" placeholder="Enter your surname">
    <button id="join">JOIN</button>
    
</body>
</html>